

<div class="container-fluid content-area">

        <h2>How we work</h2>
        <ul class="nav nav-tabs">
        <li  class="active"><a data-toggle="tab" href="#resturantlist">Resturants Around</a></li>
        <li ><a data-toggle="tab" href="#resturant">Resturants</a></li>
                <li><a data-toggle="tab" href="#dishes">Dishes</a></li>
                
        <li><a data-toggle="tab" href="#ratings">Ratings</a></li>
        <li><a data-toggle="tab" href="#speed">Speed</a></li>          
        <li><a data-toggle="tab" href="#location">Location</a></li>
        </ul>
       <div class="tab-content">
            <div id="resturantlist" class="tab-pane fade in active">
              <!-- <div ng-repeat="account in myvalue" ng-if="account.street"> -->
                <div class="list-cat col-xs-12  ">
                <h2>Nepalese</h2> 
                </div>
                <div class="resturant-list col-xs-12 col-md-4 col-xl-3">
                  <img src="img/everest.jpg" class="background-frame">
                  <div class="detail-block">
                    <img src="img/everestlogo.jpg">
                    <div class="ratings">
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                    </div>
                    <!-- <h2>{{account.street}}</h2> -->
                    <h2>4.99 miles | 60-70mins</h2>
                  </div>
                </div>
              </div>    
           </div>
           <div id="resturant" class="tab-pane fade">
                <div class="list-cat col-xs-12">
                <h2>Nepalese</h2> 
                </div>
                <div class="resturant-list col-xs-12 col-md-4 col-xl-3">
                  <img src="img/everest.jpg" class="background-frame">
                  <div class="detail-block">
                    <img src="img/everestlogo.jpg">
                    <div class="ratings">
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                    </div>
                    <h2>Everest Nepalese resturant</h2>
                    <h2>4.99 miles | 60-70mins</h2>
                  </div>
                </div>

                <div class="resturant-list col-xs-12 col-md-4 col-xl-3">
                  <img src="img/frame2.jpg" class="background-frame">
                  <div class="detail-block">
                    <img src="img/logo2nd.jpg">
                    <div class="ratings">
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                    </div>
                    <h2>Himalayan house</h2>
                    <h2>5.99 miles | 45-60 mins</h2>
                  </div>
                </div>

                <div class="resturant-list col-xs-12 col-md-4 col-xl-3">
                  <img src="img/frame3.jpg" class="background-frame">
                  <div class="detail-block">
                    <img src="img/logo3rd.jpg">
                    <div class="ratings">
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                    </div>
                    <h2>Everest Nepalese resturant</h2>
                    <h2>3 miles | 20-40mins</h2>
                  </div>
                </div>
                 <div class="resturant-list col-xs-12 col-md-4 col-xl-3">
                  <img src="img/everest.jpg" class="background-frame">
                  <div class="detail-block">
                    <img src="img/everestlogo.jpg">
                    <div class="ratings">
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                    </div>
                    <h2>Everest Nepalese resturant</h2>
                    <h2>4.99 miles | 60-70mins</h2>
                  </div>
                </div>

                <div class="resturant-list col-xs-12 col-md-4 col-xl-3">
                  <img src="img/frame2.jpg" class="background-frame">
                  <div class="detail-block">
                    <img src="img/logo2nd.jpg">
                    <div class="ratings">
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                    </div>
                    <h2>Himalayan house</h2>
                    <h2>5.99 miles | 45-60 mins</h2>
                  </div>
                </div>

                <div class="resturant-list col-xs-12 col-md-4 col-xl-3">
                  <img src="img/frame3.jpg" class="background-frame">
                  <div class="detail-block">
                    <img src="img/logo3rd.jpg">
                    <div class="ratings">
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                    </div>
                    <h2>Everest Nepalese resturant</h2>
                    <h2>3 miles | 20-40mins</h2>
                  </div>
                </div>

               
                <div class="list-cat col-xs-12">
                <h2>Indian</h2> 
                </div>
                <div class="resturant-list col-xs-12 col-md-4 col-xl-3">
                  <img src="img/everest.jpg" class="background-frame">
                  <div class="detail-block">
                    <img src="img/everestlogo.jpg">
                    <div class="ratings">
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                    </div>
                    <h2>Everest Nepalese resturant</h2>
                    <h2>4.99 miles | 60-70mins</h2>
                  </div>
                </div>

                <div class="resturant-list col-xs-12 col-md-4 col-xl-3">
                  <img src="img/frame2.jpg" class="background-frame">
                  <div class="detail-block">
                    <img src="img/logo2nd.jpg">
                    <div class="ratings">
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                    </div>
                    <h2>Himalayan house</h2>
                    <h2>5.99 miles | 45-60 mins</h2>
                  </div>
                </div>

                <div class="resturant-list col-xs-12 col-md-4 col-xl-3">
                  <img src="img/frame3.jpg" class="background-frame">
                  <div class="detail-block">
                    <img src="img/logo3rd.jpg">
                    <div class="ratings">
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                    </div>
                    <h2>Everest Nepalese resturant</h2>
                    <h2>3 miles | 20-40mins</h2>
                  </div>
                </div>
                 <div class="resturant-list col-xs-12 col-md-4 col-xl-3">
                  <img src="img/everest.jpg" class="background-frame">
                  <div class="detail-block">
                    <img src="img/everestlogo.jpg">
                    <div class="ratings">
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                    </div>
                    <h2>Everest Nepalese resturant</h2>
                    <h2>4.99 miles | 60-70mins</h2>
                  </div>
                </div>

                <div class="resturant-list col-xs-12 col-md-4 col-xl-3">
                  <img src="img/frame2.jpg" class="background-frame">
                  <div class="detail-block">
                    <img src="img/logo2nd.jpg">
                    <div class="ratings">
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                    </div>
                    <h2>Himalayan house</h2>
                    <h2>5.99 miles | 45-60 mins</h2>
                  </div>
                </div>

                <div class="resturant-list col-xs-12 col-md-4 col-xl-3">
                  <img src="img/frame3.jpg" class="background-frame">
                  <div class="detail-block">
                    <img src="img/logo3rd.jpg">
                    <div class="ratings">
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                    </div>
                    <h2>Everest Nepalese resturant</h2>
                    <h2>3 miles | 20-40mins</h2>
                  </div>
                </div>


                <div class="list-cat col-xs-12">
                <h2>Thai</h2> 
                </div>
                <div class="resturant-list col-xs-12 col-md-4 col-xl-3">
                  <img src="img/everest.jpg" class="background-frame">
                  <div class="detail-block">
                    <img src="img/everestlogo.jpg">
                    <div class="ratings">
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                    </div>
                    <h2>Everest Nepalese resturant</h2>
                    <h2>4.99 miles | 60-70mins</h2>
                  </div>
                </div>

                <div class="resturant-list col-xs-12 col-md-4 col-xl-3">
                  <img src="img/frame2.jpg" class="background-frame">
                  <div class="detail-block">
                    <img src="img/logo2nd.jpg">
                    <div class="ratings">
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                      <span>&#9734;</span>
                    </div>
                    <h2>Himalayan house</h2>
                    <h2>5.99 miles | 45-60 mins</h2>
                  </div>
                </div>
           </div>

          <div id="dishes" class="tab-pane fade ">
         
            <h2>Popular Dishes</h2>
            <div class="dishes-list col-xs-12 col-md-5 col-xl-4 ">
              <h1>Vegetable somosa [2 pcs.]</h1>
              <div class="left-attr col-xs-12 col-md-6">
                <img src="img/samosa.jpg">
                <span class="price">$4.40</span>
              </div>
              <div class="right-attr col-xs-12 col-md-6">
                 <p>Deep fried traingular pastry stuffed with mildy spiced potatoes and green peas. Served with tamrind & mint chutney.
                 </p>
              </div>
              <div class="lower-attr col-xs-12 col-md-12">
                <p class="col-xs-12 col-md-6">Select spice level :</p> 
                <div class="spice-level col-xs-12 col-md-6"> <span class="mild">mild</span> <span class="medium">medium</span><span class="spicy">spicy</span> <input id="slider1" type="range" min="0" max="200" step="100" value="0" /></div>
              </div>
               <div class="bottom-attr col-xs-12 col-md-12">
                  <h1>Quantity :</h1>
                  <input type="number" name="points"
                    min="1" max="10" step="1" value="1">
                  <a href="#">Order Now</a>
                </div>
            </div>

             <div class="dishes-list col-xs-12 col-md-5 col-xl-4 col-md-offset-1">
              <h1>Vegetable Momo [8 pcs.] </h1>
              <div class="left-attr col-xs-12 col-md-6">
                <img src="img/momo.jpg">
                <span class="price">$8.99</span>
              </div>
              <div class="right-attr col-xs-12 col-md-6">
                 <p>Steamed dumplings filled with miced cabbage, brocoli, onion & special spices. Served with tomato-sesame chutney.
                 </p>
              </div>
              <div class="lower-attr col-xs-12 col-md-12">
                <p class="col-xs-12 col-md-6">Select spice level :</p> 
                <div class="spice-level col-xs-12 col-md-6"> <span class="mild">mild</span> <span class="medium">medium</span><span class="spicy">spicy</span> <input id="slider1" type="range" min="100" max="300" step="100" value="0" /></div>
               </div>
               <div class="bottom-attr col-xs-12 col-md-12">
                  <h1>Quantity :</h1>
                  <input type="number" name="points"
                    min="1" max="10" step="1" value="1">
                  <a href="#">Order Now</a>
                </div>
            </div>

             <div class="dishes-list col-xs-12 col-md-5 col-xl-4">
              <h1>Vegetable Pakoda [8 pcs.]</h1>
              <div class="left-attr col-xs-12 col-md-6">
                <img src="img/pakoda.jpg">
                <span class="price">$7.40</span>
              </div>
              <div class="right-attr col-xs-12 col-md-6">
                 <p>Deep fried mixed vegetables with spiced batter.Served with tamarind & mint chutney.
                 </p>
              </div>
              <div class="lower-attr col-xs-12 col-md-12">
                <p class="col-xs-12 col-md-6">Select spice level :</p> 
                <div class="spice-level col-xs-12 col-md-6"> <span class="mild">mild</span> <span class="medium">medium</span><span class="spicy">spicy</span> <input id="slider1" type="range" min="100" max="300" step="100" value="0" /></div>
              </div>
               <div class="bottom-attr col-xs-12 col-md-12">
                  <h1>Quantity :</h1>
                  <input type="number" name="points"
                    min="1" max="10" step="1" value="1">
                  <a href="#">Order Now</a>
                </div>
            </div>

             <div class="dishes-list col-xs-12 col-md-5 col-xl-4 col-md-offset-1">
              <h1>Vegetable somosa [2 pcs]</h1>
              <div class="left-attr col-xs-12 col-md-6">
                <img src="img/samosa.jpg">
                <span class="price">$4.40</span>
              </div>
              <div class="right-attr col-xs-12 col-md-6">
                 <p>Deep fried traingular pastry stuffed with mildy spiced potatoes and green peas. Served with tamrind & mint chutney.
                 </p>
              </div>
              <div class="lower-attr col-xs-12 col-md-12">
                <p class="col-xs-12 col-md-6">Select spice level :</p> 
                <div class="spice-level col-xs-12 col-md-6"> <span class="mild">mild</span> <span class="medium">medium</span><span class="spicy">spicy</span> <input id="slider1" type="range" min="100" max="300" step="100" value="0"  /></div>
               </div>
               <div class="bottom-attr col-xs-12 col-md-12">
                  <h1>Quantity :</h1>
                  <input type="number" name="points"
                    min="1" max="10" step="1" value="1">
                  <a href="#">Order Now</a>
                </div>
            </div>
            <div class="list-cat col-xs-12">
            <h2>Recntly Ordered</h2> 
            </div>
            <div class="dishes-list col-xs-12 col-md-5 col-xl-4">
              <h1>Vegetable somosa [2 pcs.]</h1>
              <div class="left-attr col-xs-12 col-md-6">
                <img src="img/samosa.jpg">
                <span class="price">$4.40</span>
              </div>
              <div class="right-attr col-xs-12 col-md-6">
                 <p>Deep fried traingular pastry stuffed with mildy spiced potatoes and green peas. Served with tamrind & mint chutney.
                 </p>
              </div>
              <div class="lower-attr col-xs-12 col-md-12">
                <p class="col-xs-12 col-md-6">Select spice level :</p> 
                <div class="spice-level col-xs-12 col-md-6"> <span class="mild">mild</span> <span class="medium">medium</span><span class="spicy">spicy</span> <input id="slider1" type="range" min="0" max="200" step="100" value="0" /></div>
              </div>
               <div class="bottom-attr col-xs-12 col-md-12">
                  <h1>Quantity :</h1>
                  <input type="number" name="points"
                    min="1" max="10" step="1" value="1">
                  <a href="#">Order Now</a>
                </div>
            </div>

             <div class="dishes-list col-xs-12 col-md-5 col-xl-4 col-md-offset-1">
              <h1>Vegetable Momo [8 pcs.] </h1>
              <div class="left-attr col-xs-12 col-md-6">
                <img src="img/momo.jpg">
                <span class="price">$8.99</span>
              </div>
              <div class="right-attr col-xs-12 col-md-6">
                 <p>Steamed dumplings filled with miced cabbage, brocoli, onion & special spices. Served with tomato-sesame chutney.
                 </p>
              </div>
              <div class="lower-attr col-xs-12 col-md-12">
                <p class="col-xs-12 col-md-6">Select spice level :</p> 
                <div class="spice-level col-xs-12 col-md-6"> <span class="mild">mild</span> <span class="medium">medium</span><span class="spicy">spicy</span> <input id="slider1" type="range" min="100" max="300" step="100" value="0" /></div>
               </div>
               <div class="bottom-attr col-xs-12 col-md-12">
                  <h1>Quantity :</h1>
                  <input type="number" name="points"
                    min="1" max="10" step="1" value="1">
                  <a href="#">Order Now</a>
                </div>
            </div>

             <div class="dishes-list col-xs-12 col-md-5 col-xl-4">
              <h1>Vegetable Pakoda [8 pcs.]</h1>
              <div class="left-attr col-xs-12 col-md-6">
                <img src="img/pakoda.jpg">
                <span class="price">$7.40</span>
              </div>
              <div class="right-attr col-xs-12 col-md-6">
                 <p>Deep fried mixed vegetables with spiced batter.Served with tamarind & mint chutney.
                 </p>
              </div>
              <div class="lower-attr col-xs-12 col-md-12">
                <p class="col-xs-12 col-md-6">Select spice level :</p> 
                <div class="spice-level col-xs-12 col-md-6"> <span class="mild">mild</span> <span class="medium">medium</span><span class="spicy">spicy</span> <input id="slider1" type="range" min="100" max="300" step="100" value="0" /></div>
              </div>
               <div class="bottom-attr col-xs-12 col-md-12">
                  <h1>Quantity :</h1>
                  <input type="number" name="points"
                    min="1" max="10" step="1" value="1">
                  <a href="#">Order Now</a>
                </div>
            </div>

             <div class="dishes-list col-xs-12 col-md-5 col-xl-4 col-md-offset-1">
              <h1>Vegetable somosa [2 pcs]</h1>
              <div class="left-attr col-xs-12 col-md-6">
                <img src="img/samosa.jpg">
                <span class="price">$4.40</span>
              </div>
              <div class="right-attr col-xs-12 col-md-6">
                 <p>Deep fried traingular pastry stuffed with mildy spiced potatoes and green peas. Served with tamrind & mint chutney.
                 </p>
              </div>
              <div class="lower-attr col-xs-12 col-md-12">
                <p class="col-xs-12 col-md-6">Select spice level :</p> 
                <div class="spice-level col-xs-12 col-md-6"> <span class="mild">mild</span> <span class="medium">medium</span><span class="spicy">spicy</span> <input id="slider1" type="range" min="100" max="300" step="100" value="0"  /></div>
               </div>
               <div class="bottom-attr col-xs-12 col-md-12">
                  <h1>Quantity :</h1>
                  <input type="number" name="points"
                    min="1" max="10" step="1" value="1">
                  <a href="#">Order Now</a>
                </div>
            </div>
          </div>

          <div id="ratings" class="tab-pane fade">
           <div class="list-cat col-xs-12">
            <h2> 5 </h2>  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  
            </div>
            <div class="resturant-list col-xs-12 col-md-4 col-xl-3">
              <img src="img/everest.jpg" class="background-frame">
              <div class="detail-block">
                <img src="img/everestlogo.jpg">
                <div class="ratings">
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                </div>
                <h2>Everest Nepalese resturant</h2>
                <h2>4.99 miles | 60-70mins</h2>
              </div>
            </div>

            <div class="resturant-list col-xs-12 col-md-4 col-xl-3">
              <img src="img/frame2.jpg" class="background-frame">
              <div class="detail-block">
                <img src="img/logo2nd.jpg">
                <div class="ratings">
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                </div>
                <h2>Himalayan house</h2>
                <h2>5.99 miles | 45-60 mins</h2>
              </div>
            </div>

            <div class="resturant-list col-xs-12 col-md-4 col-xl-3">
              <img src="img/frame3.jpg" class="background-frame">
              <div class="detail-block">
                <img src="img/logo3rd.jpg">
                <div class="ratings">
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                </div>
                <h2>Everest Nepalese resturant</h2>
                <h2>3 miles | 20-40mins</h2>
              </div>
            </div>
             <div class="resturant-list col-xs-12 col-md-4 col-xl-3">
              <img src="img/everest.jpg" class="background-frame">
              <div class="detail-block">
                <img src="img/everestlogo.jpg">
                <div class="ratings">
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                </div>
                <h2>Everest Nepalese resturant</h2>
                <h2>4.99 miles | 60-70mins</h2>
              </div>
            </div>

            <div class="resturant-list col-xs-12 col-md-4 col-xl-3">
              <img src="img/frame2.jpg" class="background-frame">
              <div class="detail-block">
                <img src="img/logo2nd.jpg">
                <div class="ratings">
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                </div>
                <h2>Himalayan house</h2>
                <h2>5.99 miles | 45-60 mins</h2>
              </div>
            </div>

            <div class="resturant-list col-xs-12 col-md-4 col-xl-3">
              <img src="img/frame3.jpg" class="background-frame">
              <div class="detail-block">
                <img src="img/logo3rd.jpg">
                <div class="ratings">
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                </div>
                <h2>Everest Nepalese resturant</h2>
                <h2>3 miles | 20-40mins</h2>
              </div>
            </div>

            <div class="list-cat col-xs-12">
            <h2> 4 </h2> <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  
            </div>
            <div class="resturant-list col-xs-12 col-md-4 col-xl-3">
              <img src="img/everest.jpg" class="background-frame">
              <div class="detail-block">
                <img src="img/everestlogo.jpg">
                <div class="ratings">
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                </div>
                <h2>Everest Nepalese resturant</h2>
                <h2>4.99 miles | 60-70mins</h2>
              </div>
            </div>

            <div class="resturant-list col-xs-12 col-md-4 col-xl-3">
              <img src="img/frame2.jpg" class="background-frame">
              <div class="detail-block">
                <img src="img/logo2nd.jpg">
                <div class="ratings">
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                </div>
                <h2>Himalayan house</h2>
                <h2>5.99 miles | 45-60 mins</h2>
              </div>
            </div>

            <div class="resturant-list col-xs-12 col-md-4 col-xl-3">
              <img src="img/frame3.jpg" class="background-frame">
              <div class="detail-block">
                <img src="img/logo3rd.jpg">
                <div class="ratings">
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                </div>
                <h2>Everest Nepalese resturant</h2>
                <h2>3 miles | 20-40mins</h2>
              </div>
            </div>
             <div class="resturant-list col-xs-12 col-md-4 col-xl-3">
              <img src="img/everest.jpg" class="background-frame">
              <div class="detail-block">
                <img src="img/everestlogo.jpg">
                <div class="ratings">
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                </div>
                <h2>Everest Nepalese resturant</h2>
                <h2>4.99 miles | 60-70mins</h2>
              </div>
            </div>

            <div class="resturant-list col-xs-12 col-md-4 col-xl-3">
              <img src="img/frame2.jpg" class="background-frame">
              <div class="detail-block">
                <img src="img/logo2nd.jpg">
                <div class="ratings">
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                </div>
                <h2>Himalayan house</h2>
                <h2>5.99 miles | 45-60 mins</h2>
              </div>
            </div>

            <div class="resturant-list col-xs-12 col-md-4 col-xl-3">
              <img src="img/frame3.jpg" class="background-frame">
              <div class="detail-block">
                <img src="img/logo3rd.jpg">
                <div class="ratings">
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                </div>
                <h2>Everest Nepalese resturant</h2>
                <h2>3 miles | 20-40mins</h2>
              </div>
            </div>
          </div>

          <div id="speed" class="tab-pane fade">
           <div class="list-cat col-xs-12">
            <h2> 10 - 30 (mins) </h2> 
                  
            </div>
            <div class="resturant-list col-xs-12 col-md-4 col-xl-3">
              <img src="img/everest.jpg" class="background-frame">
              <div class="detail-block">
                <img src="img/everestlogo.jpg">
                <div class="ratings">
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                </div>
                <h2>Everest Nepalese resturant</h2>
                <h2>4.99 miles | 60-70mins</h2>
              </div>
            </div>

            <div class="resturant-list col-xs-12 col-md-4 col-xl-3">
              <img src="img/frame2.jpg" class="background-frame">
              <div class="detail-block">
                <img src="img/logo2nd.jpg">
                <div class="ratings">
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                </div>
                <h2>Himalayan house</h2>
                <h2>5.99 miles | 45-60 mins</h2>
              </div>
            </div>

            <div class="resturant-list col-xs-12 col-md-4 col-xl-3">
              <img src="img/frame3.jpg" class="background-frame">
              <div class="detail-block">
                <img src="img/logo3rd.jpg">
                <div class="ratings">
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                </div>
                <h2>Everest Nepalese resturant</h2>
                <h2>3 miles | 20-40mins</h2>
              </div>
            </div>

             <div class="list-cat col-xs-12">
            <h2> 30 - 45 (mins) </h2> 
                  
            </div>
            <div class="resturant-list col-xs-12 col-md-4 col-xl-3">
              <img src="img/everest.jpg" class="background-frame">
              <div class="detail-block">
                <img src="img/everestlogo.jpg">
                <div class="ratings">
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                </div>
                <h2>Everest Nepalese resturant</h2>
                <h2>4.99 miles | 60-70mins</h2>
              </div>
            </div>

            <div class="resturant-list col-xs-12 col-md-4 col-xl-3">
              <img src="img/frame2.jpg" class="background-frame">
              <div class="detail-block">
                <img src="img/logo2nd.jpg">
                <div class="ratings">
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                </div>
                <h2>Himalayan house</h2>
                <h2>5.99 miles | 45-60 mins</h2>
              </div>
            </div>

            <div class="resturant-list col-xs-12 col-md-4 col-xl-3">
              <img src="img/frame3.jpg" class="background-frame">
              <div class="detail-block">
                <img src="img/logo3rd.jpg">
                <div class="ratings">
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                </div>
                <h2>Everest Nepalese resturant</h2>
                <h2>3 miles | 20-40mins</h2>
              </div>
            </div>

             <div class="list-cat col-xs-12">
            <h2> 45 - 60 (mins) </h2>                   
            </div>

            <div class="resturant-list col-xs-12 col-md-4 col-xl-3">
              <img src="img/everest.jpg" class="background-frame">
              <div class="detail-block">
                <img src="img/everestlogo.jpg">
                <div class="ratings">
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                </div>
                <h2>Everest Nepalese resturant</h2>
                <h2>4.99 miles | 60-70mins</h2>
              </div>
            </div>

            <div class="resturant-list col-xs-12 col-md-4 col-xl-3">
              <img src="img/frame2.jpg" class="background-frame">
              <div class="detail-block">
                <img src="img/logo2nd.jpg">
                <div class="ratings">
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                </div>
                <h2>Himalayan house</h2>
                <h2>5.99 miles | 45-60 mins</h2>
              </div>
            </div>

            <div class="resturant-list col-xs-12 col-md-4 col-xl-3">
              <img src="img/frame3.jpg" class="background-frame">
              <div class="detail-block">
                <img src="img/logo3rd.jpg">
                <div class="ratings">
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                </div>
                <h2>Everest Nepalese resturant</h2>
                <h2>3 miles | 20-40mins</h2>
              </div>
            </div>
          </div>

          <div id="location" class="tab-pane fade">
            <div class="list-cat col-xs-12">
              <h2> 1 - 2 (mile) </h2>                  
            </div>

            <div class="resturant-list col-xs-12 col-md-4 col-xl-3">
              <img src="img/everest.jpg" class="background-frame">
              <div class="detail-block">
                <img src="img/everestlogo.jpg">
                <div class="ratings">
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                </div>
                <h2>Everest Nepalese resturant</h2>
                <h2>4.99 miles | 60-70mins</h2>
              </div>
            </div>

            <div class="resturant-list col-xs-12 col-md-4 col-xl-3">
              <img src="img/frame2.jpg" class="background-frame">
              <div class="detail-block">
                <img src="img/logo2nd.jpg">
                <div class="ratings">
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                </div>
                <h2>Himalayan house</h2>
                <h2>5.99 miles | 45-60 mins</h2>
              </div>
            </div>

            <div class="resturant-list col-xs-12 col-md-4 col-xl-3">
              <img src="img/frame3.jpg" class="background-frame">
              <div class="detail-block">
                <img src="img/logo3rd.jpg">
                <div class="ratings">
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                </div>
                <h2>Everest Nepalese resturant</h2>
                <h2>3 miles | 20-40mins</h2>
              </div>
            </div>

             <div class="list-cat col-xs-12">
            <h2> 2 - 3 (mile) </h2>                  
            </div>

            <div class="resturant-list col-xs-12 col-md-4 col-xl-3">
              <img src="img/everest.jpg" class="background-frame">
              <div class="detail-block">
                <img src="img/everestlogo.jpg">
                <div class="ratings">
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                </div>
                <h2>Everest Nepalese resturant</h2>
                <h2>4.99 miles | 60-70mins</h2>
              </div>
            </div>

            <div class="resturant-list col-xs-12 col-md-4 col-xl-3">
              <img src="img/frame2.jpg" class="background-frame">
              <div class="detail-block">
                <img src="img/logo2nd.jpg">
                <div class="ratings">
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                </div>
                <h2>Himalayan house</h2>
                <h2>5.99 miles | 45-60 mins</h2>
              </div>
            </div>

            <div class="resturant-list col-xs-12 col-md-4 col-xl-3">
              <img src="img/frame3.jpg" class="background-frame">
              <div class="detail-block">
                <img src="img/logo3rd.jpg">
                <div class="ratings">
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                </div>
                <h2>Everest Nepalese resturant</h2>
                <h2>3 miles | 20-40mins</h2>
              </div>
            </div>

            <div class="list-cat col-xs-12">
            <h2> 3 - 4 (mile) </h2>             
            </div>

            <div class="resturant-list col-xs-12 col-md-4 col-xl-3">
              <img src="img/everest.jpg" class="background-frame">
              <div class="detail-block">
                <img src="img/everestlogo.jpg">
                <div class="ratings">
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                </div>
                <h2>Everest Nepalese resturant</h2>
                <h2>4.99 miles | 60-70mins</h2>
              </div>
            </div>

            <div class="resturant-list col-xs-12 col-md-4 col-xl-3">
              <img src="img/frame2.jpg" class="background-frame">
              <div class="detail-block">
                <img src="img/logo2nd.jpg">
                <div class="ratings">
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                </div>
                <h2>Himalayan house</h2>
                <h2>5.99 miles | 45-60 mins</h2>
              </div>
            </div>

            <div class="resturant-list col-xs-12 col-md-4 col-xl-3">
              <img src="img/frame3.jpg" class="background-frame">
              <div class="detail-block">
                <img src="img/logo3rd.jpg">
                <div class="ratings">
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                  <span>&#9734;</span>
                </div>
                <h2>Everest Nepalese resturant</h2>
                <h2>3 miles | 20-40mins</h2>
              </div>
            </div>
          </div>

       </div><!-- /.tab-content -->
  </div><!-- /.contianer -->
</div><!-- closing the main ctrl -->

     
